body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header, footer {
    background: #3f6ea1; /* Changed to blue */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}

main {
    padding: 20px 0;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #4e9af1, #8a3ab9); /* Blue to purple gradient */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s ease;
}

.btn:hover {
    background: linear-gradient(to bottom, #8a3ab9, #4e9af1); /* Purple to blue gradient on hover */
}

/* Additional styles for button */
.btn {
    background: #2e4b6b; /* Changed to blue */
    color: #fff;
}

.btn:hover {
    background: #0056b3; /* Darker blue on hover */
}

.no-resize {
    resize: none; /* Prevent resizing */
}

#successMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
